*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  scroll-behavior: smooth;
}
body{
  background-color: #112240;
  overflow-x: hidden;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.navbarList{
  display: flex;
  list-style: none;
  gap: 20px;
  padding-top: 20px;
  text-transform: uppercase;
}

.navbarItem{
  text-decoration: none;
  color: white;
}

.navbarItem:hover{
  border-bottom: 2px solid #b8b8b8;
}

.navbarItemSelected{
  border-bottom: 2px solid #b8b8b8;
}

.main{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  min-height: 90vh;
}

.socialMedia{
  color: white;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.titleContainer{
  text-align: center;
  position: sticky;
}
.titleContainer .title, .projectsSection .title, .skill .title, .contactSection .title{
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}

.titleContainer .subTitle{
  font-size: 20px;
  font-weight: 600;
  color: #b8b8b8;
}

.projectsSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.about{  
  width: 600px;
  text-align: left;
  padding: 10px;
}

.about .title{
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.about .information{
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  margin-bottom: 20px;
  color: #b8b8b8;
}
.about .image{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.skill{
  margin-bottom: 50px;
}
.skill .title, .contactSection .title{
  text-align: center;
  margin-bottom: 20px;
}
.skillList{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.careerSection{
  padding: 20px;
  margin-top: 10px;
}

.projectList{
  display: flex;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}
.projectCard{
  width: 330px;
  height: 340px ;
  background-color: #2a2a2a;
  border-radius: 5px;
  text-decoration: none;
  transition: 300ms ease-in-out;
}
.projectCard:hover{
  background-color: black;
}
.cardImage{
  height: 240px;
  background-size: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.cardInfo{
  padding-left: 20px;
  padding-top: 4px;

}
.cardTitle{
  color: white;
  font-weight: 700;
  font-size: medium;
}
.cardDescription{
  color: #d1d5db;
  font-size: small;
}
.cardTools{
  color: #d1d5db;
  font-size: small;
  opacity: 0.7;
}

.contactContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.contact{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact input{
  width: 350px;
  height: 25px;
  padding: 12px;
  border: none;
  outline: none;
}
.contact #message{
  width: 350px;
  padding: 12px;
  height: 80px;
  border: none;
  resize: none;
  outline: none;
}
.contact button{
  width: 375px;
  padding: 5px;
  outline: none;
}
@media only screen and (max-width: 720px) {
  .socialMedia{
    margin-top: 30px;
  }
  .titleContainer .title{
    font-size: 30px;
  }
  .about .title{
    font-size: 25px;
  }
}